/* http://meyerweb.com/eric/tools/css/reset/
	v2.0 | 20110126
	License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

.wf-loading .cms-button-afmelden, .wf-loading .cms-login-label, .wf-loading .cms-orders-navitem-link, .wf-loading .cms-orders-table-header, .wf-loading .cms-orders-table-data-cell, .wf-loading .noOrdersLabel {
  visibility: hidden;
}

.wf-active .cms-button-afmelden, .wf-active .cms-login-label, .wf-active .cms-login-submit, .wf-active .cms-login-input, .wf-active .cms-orders-navitem-link, .wf-active .cms-orders-table-header, .wf-active .cms-orders-table-data-cell, .wf-active .noOrdersLabel {
  font-family: 'titillium web';
  visibility: visible;
}

.container {
  width: 96rem;
  margin: 0 auto;
}

.hide {
  display: none;
}

.loader {
  width: 2rem;
  height: 2rem;
  background-color: #7d5abf;
  margin-top: 2rem;
  z-index: 100;
  -webkit-animation: rotate 1.2s ease-in-out 0s infinite alternate;
          animation: rotate 1.2s ease-in-out 0s infinite alternate;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.activeFilter {
  color: #FFFFFF;
  background-color: #7d5abf;
}

.cms-header-top {
  position: relative;
  background-color: #3E3E3E;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cms-header-top-image {
  width: 10rem;
  height: auto;
}

.cms-login {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cms-login-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  background-color: #3E3E3E;
  padding: 5rem;
  width: 50%;
}

.cms-input-wrapper {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cms-input-wrapper:first-child {
  margin-bottom: 2rem;
}

.cms-login-label {
  font-size: 1.5rem;
  margin-bottom: .5rem;
  font-weight: 600;
  color: #FFFFFF;
}

.cms-login-input {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 400;
  color: #3E3E3E;
  outline: none;
  border: none;
}

.cms-login-submit {
  margin-top: 3rem;
  border-radius: none;
  border: none;
  outline: none;
  background-color: #7d5abf;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 3rem;
}

.cms-orders-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cms-orders-nav, .cms-filters {
  background-color: #3E3E3E;
  width: 100%;
  margin-top: 1rem;
  padding: 1.5rem 0;
}

.cms-orders-navitems {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cms-orders-navitem-link {
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 2rem;
  font-size: 1.5rem;
}

.cms-orders, .cms-orders-table {
  width: 100%;
}

.cms-orders {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.cms-orders-table {
  margin-top: 2rem;
  text-align: center;
}

.cms-orders-table-header, .cms-orders-table-data-cell {
  font-size: 1.5rem;
  color: #3E3E3E;
  font-weight: 600;
}

.cms-orders-table-data-cell {
  font-size: 1.3rem;
  font-weight: 400;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.cms-orders-table-data-cell-img {
  width: 15rem;
  height: auto;
}

.cms-orders-table-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}

.cms-orders-table-action {
  width: 2rem;
  height: 2rem;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.cms-orders-table-action:hover {
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.cms-filters {
  background-color: #646464;
  margin-top: 0;
}

.cms-filters-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cms-order-button {
  color: #7d5abf;
  cursor: pointer;
}

.cms-order-button:hover {
  text-decoration: underline;
}

.cms-filter {
  padding: 1.1rem 1.5rem;
}

.cms-button-afmelden {
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: 20px;
  color: #FFFFFF;
  font-size: 1.5rem;
  opacity: 0.5;
  transition: 0.3s all;
}

.cms-button-afmelden:hover {
  opacity: 1;
}

.noOrdersLabel {
  color: #FFFFFF;
  padding: 2rem;
  font-size: 1.4rem;
  background-color: #7d5abf;
  margin-top: 2rem;
}

.form-temp form label, .form-temp form input {
  display: block;
}

.form-temp form {
  margin-bottom: 50px;
}

.form-temp h1 {
  font-weight: 700;
  font-size: 3rem;
}

.form-temp .error {
  color: red;
}
