@media only screen and (max-width: 1390px) {
  .omschrijving-title{
    margin-top: 1.5rem;

    &::before{
      width:  100%;
      padding-top: 3rem;
      margin-bottom: 1.5rem;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;

      transition: 0.4s all;
      }
    }

  .omschrijving-item-wrapper{
    position: relative;
    width: 70%;
    height: 70%;
  }
}

@media only screen and (max-width: 1300px) {
  .omschrijving-item{
    width: 26rem;
    height: 26rem;
  }

  .auteur-container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .bib-lijst {
    margin-top: 3rem;
    flex-direction: row;
    justify-content: center;
  }

  .bib-item {
    margin: 0 2rem;
  }


  .over-auteur {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1170px){
  .klas-list-item {
    margin: 1vw;
  }
}

@media only screen and (max-width: 1024px) {
  .omschrijving-title {
    margin-top: 0;

    &::before {
      padding-top: 0;
      margin-bottom: 0;
      background-size: auto 100%;
    }
  }

  .omschrijving-item {
    background-color: $lichtPaars;
  }

  .omschrijving-item-wrapper {
    width: 100%;
    height: 100%;
  }

  .omschrijving-content-wrapper {
    margin-bottom: 2rem;
  }

  .omschrijving-title {
    margin-bottom: 2rem;

    &::before {
      padding-top: 3rem;
      margin-bottom: 2rem;
    }
  }

  .omschrijving-tekst {
    opacity: 1;
  }

  .bibliografie {
    margin-top: 2rem;
    width: auto;
  }

  // .over-auteur-content {
  //   width: 70%;
  // }

  .over-auteur-title {
    margin: 0rem 0 2rem 0;
  }

  .over-auteur-content {
    padding: 0;
  }
}

@media only screen and (max-width: 960px){
  /*HEADER*/
  .sec-right-the-shining {
    margin-left: -120px;
  }
}

@media only screen and (max-width: 900px){
  .footer-container {
    justify-content: center;
  }

  .over-heading {
    margin-left: 4rem;
  }
}

@media only screen and (max-width: 880px){
  /*HEADER*/
  .korte-uitleg {
    align-self: initial;
    margin-left: 40vw;
  }

  .omschrijving-item {
    width: 100vw;
    height: auto;
  }

  .omschrijving-item-wrapper {
    width: 30rem;
    height: 30rem;
  }
}

@media only screen and (max-width: 820px){
  /*HEADER*/
  .sec-right-the-shining {
    display: none;
  }

  .header-title {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .catch-phrase {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .catch-phrase-text-wrapper {
    width: 100%;
  }

  .uitleg-item:nth-child(2) {
    align-self: initial;
  }
}

@media only screen and (max-width: 800px){
  .nav-item {
    margin: 0;
  }

  .boek-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0 0 0;
  }

  .boek-caption {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boek-button {
    position: initial;
  }

  .info-over-wedstrijd::before {
    display: none;
  }

  .info-over-wedstrijd {
    background-color: $lichtPaars;
    padding-bottom: 2vw;
  }

  .korte-uitleg {
    width: 55%;
  }
}

@media only screen and (max-width: 750px){

  .over-content-text {
    font-size: 1.1rem;
    line-height: 1.8rem;
    width: 90vw;
  }

  .over-container {
    flex-direction: column;
  }

  .sec-over-boek, .sec-beeld-boek {
    width: 100%;
  }

  .main-header {
    margin-bottom: 5rem;
  }

  .over-sub-title {
    display: none;
  }

  .over-content {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .aanvragen-button {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    top: 20rem;
  }

  // reviews

  .reviews-list {
    flex-direction: column;
  }
  .review-item {
    width: auto;
  }
  .bib-lijst {
    flex-direction: row;
    justify-content: center;
  }
}

@media only screen and (max-width: 700px){
  /*HEADER*/

  .sec-over {
    flex-direction: column;
    align-items: center;
  }

  .wedstrijd-subtitle {
    width: 95vw;
    margin-left: 0;
    text-align: center;
  }

  .wedstrijd-title {
    padding: 3rem;
    text-align: center;
  }

  .wedstrijd-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wedstrijd-uitleg {
    width: 95vw;
    padding: 0rem 1rem;
  }
}

@media only screen and (max-width: 650px){
  /*HEADER*/
  .main-border {
    display: none;
  }

  .main-nav {
    background-color: $zwart;
    z-index: 100;
    padding: 0;
    height: 35vw;
    margin: 0;
  }

  .main-header {
    background-image: none, url('/assets/img/grunge-header.png');
  }

  .main-nav-list {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .nav-logo {
    margin-top: 1vw;
    margin-right: 0;
    padding: 2vw;
  }

  .nav-logo-link {
    width: 7.5rem;
    height: 5.5rem;
  }

  .body-wrapper {
    padding: 0rem;
  }

  .nav-items {
    width: 100%;
  }

  .nav-item {
    display: flex;
    justify-content: center;
    flex: 1;
    height: 100%;
    align-items: center;
  }

  .nav-item-link {
    color: $wit;
    text-align: center;
    width: 100%;
    padding: 3.5vw;
  }

  .main-container {
    margin-top: 5vw;
  }

  .main-header {
    height: initial;
  }

  .container {
    width: 100vw;
    margin: initial;
  }

  .form-input-wrapper input {
    width: 40vw;
  }

  .nav-logo-svg-use {
    transform: scale(.6);
    fill: $wit;
  }

  .deelnemende-klassen {
    padding: 5vw 0;
  }

  .klassen-title {
    text-shadow: none;
    text-align: center;
  }

  .klassen-list {
    align-items: center;
  }

  .arrow-right {
    align-self: initial;
  }

  .over-heading {
    margin: 2rem 0 0 0;
    display: flex;
    justify-content: center;
  }

  .over-content {
    margin-top: 2rem;
  }

  .reviews-title {
    text-align: center;
  }

  .auteur-content-wrapper {
    flex-direction: column;
  }

  .over-auteur-title {
    margin: 0;
  }

  .over-auteur-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .over-auteur-text {
    margin-top: 2rem;
    width: 90vw;
  }

  .review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-quote-text {
    margin: 0;
  }

  .succes-wrapper {
    margin-top: 2rem;
  }
}

@media only screen and (max-width: 640px){
  .actie-header {
    background: none;
  }

  .over-auteur {
      background: none;
  }
}

@media only screen and (max-width: 600px){

  .header-title {
    font-size: 10vw;
  }

  .header-sub {
    font-size: 7vw;
  }

  .catch-phrase-text-wrapper {
    padding: 0 1rem;
  }

  .catch-text {
    line-height: 2rem;
  }

  .title {
    text-shadow: none;
  }

  .hoe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sec-werking {
    align-self: initial;
    align-items: center;
  }

  .sec-uitleg {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: 0;
  }

  .uitleg-lijst {
    margin-top: 2rem;
    align-items: center;
  }

  .uitleg-item {
    width: 90vw;
    text-align: center;
  }

  .form {
    margin-top: 4vw;
  }

  .tab-title {
    font-size: 3vw;
  }

  .hoe-het-werkt {
    background-image: none;
  }
}

@media only screen and (max-width: 550px){
  .home-arrow {
    display: none;
    background-image: none;
  }

  // .body-wrapper .container {
  //   margin-bottom: 3rem;
  // }

  .tab-title {
    font-size: 1rem;
  }

  .form-input-fields {
    flex-direction: column;
      align-items: center;
  }

  .form-input-wrapper input {
    width: 90vw;
  }

  .fieldset-uploaden {
    .form-input-wrapper {
      align-items: center;
      label {
        width: 90vw;
      }
    }
  }

  .nav-item-link {
    padding: 3.5vw 1vw;
  }


  .footer-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }

  .footer-section {
    margin: 2.5vw 0 3.5vw 0;
  }

  .footer-contact {
    order: 1;
  }

  .footer-boek-be {
    order: 2;
  }

  .footer-social {
    order: 3;
  }

  .main-header {
    margin-bottom: 3vw;
  }

  .cta-button {
    width: 90vw;
  }
}

@media only screen and (max-width: 500px){
  .nav-logo {
    margin-bottom: 2vw;
  }

  .nav-item-link {
    font-size: .75rem;
  }

  .aanvragen-button, .quote {
    width: 90vw;
  }
}


@media only screen and (max-width: 450px){
  .bib-item:nth-child(2n) {
    display: none;
  }
}

@media only screen and (max-width: 410px){
  .header-title {
    font-size: 2.75rem;
    text-shadow: none;
    letter-spacing: .1rem;

  }

  .header-sub {
    font-size: 2rem;
    text-align: center;
  }
}

@media only screen and (max-width: 400px){
  .main-nav {
    height: 9rem;
  }
}

@media only screen and (max-width: 350px){
  .omschrijving-kader {
    display: none;
    background-color: $wit;
  }

  .omschrijving-content-wrapper {
    margin: 0;
  }
}
