.wf-loading {
  .cms-button-afmelden, .cms-login-label, .cms-orders-navitem-link, .cms-orders-table-header, .cms-orders-table-data-cell, .succes-wrapper, .mini-title, .main-title, .catch-text, .boek-cite, .shining-title, .tab-title, .form-error, .klas-onderschrift, .contact-text, .tab-title, .omschrijving-title, .quote-footer, .bib-boek-genre, .bib-boek-naam {
    visibility: hidden;
  }
}

.wf-active {
  .cms-button-afmelden, .cms-login-label, .cms-login-submit, .cms-login-input, .cms-orders-navitem-link, .cms-orders-table-header, .cms-orders-table-data-cell, .succes-wrapper, .mini-title, .catch-text, .boek-cite, .shining-title, .tab-title, .form-error, .klas-onderschrift, .contact-text, .tab-title, .quote-footer, .bib-boek-genre, .bib-boek-naam {
    font-family: 'titillium web';
    visibility: visible;
  }

  .succes-bedanking, .main-title, .omschrijving-title {
    font-family: 'Plantagenet Cherokee';
    visibility: visible;
  }
}

.wf-inactive {
  visibility: visible;
}


