.container {
    width: 96rem;
    margin: 0 auto;
}

.hide {
  display: none;
}


.loader {
  width: 2rem;
  height: 2rem;
  background-color: $paars;
  position: absolute;
  top: calc(50vh - 1rem);
  left: calc(50vw - 1rem);
  z-index: 100;
  animation: rotate 1.2s ease-in-out 0s infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.activeFilter {
  color: $wit;
  background-color: $paars;
}
