.wf-loading {
    .cms-login-label, .cms-orders-navitem-link, .cms-orders-table-header, .cms-orders-table-data-cell {
        visibility: hidden;
    }
}

.wf-active {
    .cms-login-label, .cms-login-submit, .cms-login-input, .cms-orders-navitem-link, .cms-orders-table-header, .cms-orders-table-data-cell {
        font-family: 'titillium web';
        visibility: visible;
    }
}


