@import 'reset';

@import 'webfontloader';
@import 'general';
@import 'colors';

.cms-header-top {
    position: relative;
    background-color: $zwart;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cms-header-top-image {
    width: 10rem;
    height: auto;
}

.cms-login {
    display: flex;
    justify-content: center;
}

.cms-login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    background-color: $zwart;
    padding: 5rem;
    width: 50%;
}

.cms-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    &:first-child {
        margin-bottom: 2rem;
    }
}

.cms-login-label {
    font-size: 1.5rem;
    margin-bottom: .5rem;
    font-weight: 600;
    color: $wit;
}

.cms-login-input {
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: 400;
    color: $zwart;
    outline: none;
    border: none;
}

.cms-login-submit {
    margin-top: 3rem;
    border-radius: none;
    border: none;
    outline: none;

    background-color: $paars;
    color: $wit;

    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;

    padding: 1rem 3rem;
}

.cms-orders-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cms-orders-nav, .cms-filters {
    background-color: $zwart;
    width: 100%;
    margin-top: 1rem;
    padding: 1.5rem 0;
}

.cms-orders-navitems {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cms-orders-navitem-link {
    text-decoration: none;
    color: $wit;
    margin: 0 2rem;
    font-size: 1.5rem;
}

.cms-orders, .cms-orders-table {
    width: 100%;
}

.cms-orders-table  {
    margin-top: 2rem;
    text-align: center;
}

.cms-orders-table-header, .cms-orders-table-data-cell {
    font-size: 1.5rem;
    color: $zwart;
    font-weight: 600;
}

.cms-orders-table-data-cell {
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 1.5rem;

    img {
      width: 15rem;
      height: auto;
    }
}

.cms-orders-table-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cms-filters {
    background-color: $lichtZwart;
    margin-top: 0;
}

.cms-filters-list {
    display: flex;
    justify-content: center;
}

.cms-order-button {
    color: $paars;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
}

.cms-button-afmelden {
    cursor: pointer;
    position: absolute;
    top: 40%;
    right: 20px;
    color: $wit;
    font-size: 1.5rem;
    opacity: 0.5;

    transition: 0.3s all;

    &:hover {
      opacity: 1;
    }
}
