@font-face {
  font-family: "Plantagenet Cherokee";
  src: url("./plantagenetCherokee.woff2") format("woff2"),
  url("./plantagenetCherokee.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
